body {
  font-family: 'Montserrat', sans-serif; /* Задано шрифт Montserrat */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0; /* Світло-сірий фон */
}

header {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Той же світло-сірий фон */
  width: 100%;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-weight: 700; /* Жирний шрифт для заголовка */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.gallery img {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.buttons {
  display: flex;
  flex-wrap: wrap; /* Дозволяє кнопкам переходити на новий рядок */
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  width: calc(100% - 6%); /* Врахування відступів з обох сторін */
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

button {
  flex: 1; /* Дозволяє кнопкам займати доступний простір */
  padding: 15px; /* Збільшено розмір кнопки */
  border: none;
  border-radius: 20px; /* Збільшено радіус заокруглення */
  background-color: #e60023; /* Новий колір фону кнопок */
  color: white;
  cursor: pointer;
  font-size: 16px; /* Збільшено розмір тексту на 3 пункти */
  font-family: 'Montserrat', sans-serif; /* Шрифт кнопок Montserrat */
  min-width: 150px; /* Мінімальна ширина кнопки */
}

button:hover {
  background-color: #b3001a; /* Темніший колір при наведенні */
}